/* add responsive rules */

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

@media screen and (max-width: 600px) {
    .social-media-icons {
        display: none;
    }
    .hamburger {
        display: flex;
    }
    .navbar {
        display: none;
    }
    .profile-and-info {
        width: 100%;
    }
    .caption span.border {
        font-size: 1.5rem;
        letter-spacing: 0.1rem;
    }
}

@media (min-width: 600px) {
    .projects-grid {
        grid-template-columns: repeat(2, 1fr); /* Change to 2 columns */
    }
}